@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');



 @keyframes infinite-scroll {
        from { transform: translateX(100%); }
        to { transform: translateX(-50%); }
    }
    
    .animate-infinite-scroll {
        animation: infinite-scroll 40s linear infinite;
    }

    
    .roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    
    }

    .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    font-style: normal;
    }

    .libertinus-serif-regular {
    font-family: "Libertinus Serif", serif;
    font-weight: 500;
    font-style: normal;
    }

    .libertinus-serif-semibold {
    font-family: "Libertinus Serif", serif;
    font-weight: 800;
    font-style: normal;
    }

    .libertinus-serif-regular-italic {
    font-family: "Libertinus Serif", serif;
    font-weight: 800;
    font-style: italic;
    }

    
        @keyframes infinite-scroll {
            0% { transform: translateX(100%); }
            100% { transform: translateX(-100%); }
        }
        
        .animate-infinite-scroll {
            animation: infinite-scroll 20s linear infinite;
        }
        
        /* Dropdown styles */
        .dropdown:hover .dropdown-menu {
            display: block;
        }
        
        .submenu-container:hover .submenu {
            display: block;
        }
        
        .dropdown-menu {
            z-index: 999;
        }
        
        .submenu {
            z-index: 1000;
        }